---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

<!-- FILE SHARING -->
  <HorizontalCard
    title="End-to-End Encrypted File Sharing System"
    img="/file-encryption.png"
    desc="Designed and implemented the client application for a secure file sharing system that was secured with \
            cryptography using Symmetric Encryption (AES-CTR), HMAC, Key Derivation (Argon2), and RSA Encryption (key generation & signing). \
            Created Golang client featuring authentication, file storage, file sharing, and access revocation functionalities."
    url="https://fa21.cs161.org/proj2/"
  />
  <div class="divider my-0"></div>

  <!-- Creativity Canvas -->
    <HorizontalCard
      title="Graphical User Interface"
      img="/160project2.png"
      desc="Created an online creativity canvas with basic painting tools and preset characters/backgrounds using Paper.js. \
            Conducted task analysis, observational study protocols, and Wizard of Oz techniques for interaction prototypes that were\
            created using Figma."
      url="https://docs.google.com/document/d/1uoujhtTNW--e0-8LQB5ZPZ_qSMAP3kMLRBvds5mtBHM/edit?usp=sharing"
    />
    <div class="divider my-0"></div>

<!-- GREENHOUSE -->
  <HorizontalCard
    title="Greenhouse (Web Application)"
    img="/Poster-1.png"
    desc="Designed and implemented a web application with fully functional navigation as well as limited degree of user \
            interactivity. Backend was implemented using JavaScript, and Bootstrap for frontend design."
    url="https://docs.google.com/document/d/1AXvTr4tVYkxIcb6R0eZrFwvCmvm3_vgOe6QXDbWZwxM/edit?usp=sharing"
  />
  <div class="divider my-0"></div>

  <!-- GITLET PROJECT -->
  <HorizontalCard
    title="Gitlet"
    img="/git-logo.bmp"
    desc="Designed and implemented a version control system mimicking Git. Includes support for 10+ commands including \
          	init, add, commit, checkout, branch, reset, merge, rm, log, and status. Built using Java, code available \
          	upon request."
    url="https://sp21.datastructur.es/materials/proj/proj2/proj2"
  />
  <div class="divider my-0"></div>

    <!-- BYOW PROJECT -->
    <HorizontalCard
      title="Build Your Own World"
      img="/byow-photo.png"
      desc="Designed and Implemented a randomly generated explorable worlds using Java. BYOW allows players to: choose a \
            language to play, load a previous game, replay a previous game, create a new game by inserting a seed, save the \
            current game, interact with the other elements. Applied knowledge of graphs, pseudorandomness, debugging and \
            used data structures such as HashMaps, priority queues, and linked lists."
            url="https://sp21.datastructur.es/materials/proj/proj3/proj3"
    />
    <div class="divider my-0"></div>

    <!-- DEQUES PROJECT -->
        <HorizontalCard
          title="Deques"
          img="/guitar-hero.jpeg"
          desc="Completed two implementations of a Double Ended Queue (deque): using doubly linked Lists (with circular topology) \
                and using arrays implementing the deque API. At the end, we used the Deque interface to implement the \
                Karplus-Strong algorithm, and play Guitar Hero. Applied knowledge of class polymorphism, inheritance and unit testing."
          url="https://sp21.datastructur.es/materials/proj/proj1/proj1"
        />
</BaseLayout>
